.black{
        text-align: center;
        font-size: 30px;
        background-color: black;
        color: white;
}

.menu{

    background-color: rgb(230, 233, 235);
}

.main{
        border-style: solid;
        border-width: 1px;
        border-color:silver;

}


.box{
    border: black;
background: gray;
}





.boxred{
    border: black;
background:red;
}
.item-d {
    grid-area: 1 / col4-start / last-line / 6;
    background:red;
   /* float: right;  */
  }

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: day1; }
.item5 { grid-area:day2; }
.item6{ grid-area:day3;}
.item7{ grid-area:day4;}
.item8{ grid-area:day5;}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main main main'
    'menu day1 day2 day3 day4 day5';
  grid-gap: 10px;
  /* background-color: whitesmoke; */
  padding: 10px;
}

.grid-container > div {
  /* background-color: rgba(255, 255, 255, 0.8); */
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}